---
layout: default
---
<h2 class="post_title">{{page.title}}</h2>
<ul>
  {% for category in site.categories %}
    <li>Category: <a name="{{ category | first }}">{{ category | first }}</a>
      <dd>
        {% for posts in category %}
          {% for post in posts %}
            {% comment %}
              For some reason the first post seems to be empty
            {% endcomment %}
            {% if post.title %}
              <dt>Post: <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></dt>
              <dd>{{ post.excerpt }}</dd>
            {% endif %}
          {% endfor %}
        {% endfor %}
    </dd>
    </li>
  {% endfor %}
</ul>
